.nav-bg {
  background: #f8f9fa;
}
.slider {
  background-color: #fceae8;
}
.button-bg {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  padding: 9px 25px;
  border-radius: 8px;
}
.banner-price-color {
  color: #ff3887;
}
.subscribe-bg {
  background-color: #fceae8;
  height: 300px;
}
.subscribe-p {
  color: #808590;
}
